/*
Effects the entire page
RN only changes background color
*/
body {
    background-color: #B298DC;
}
/*Gets applied to your form tag  */
.form {    
    display: flex;
    justify-content: center;    
}
/* 
Inside your form your layout should look like this

    <form class="form">
        <div>
            <h1>Some text</h1>
            <div class = "form-input">
                <label>
                <input>
            </div>
            <input type='submit'
        </div>
    </form>

*/
.form>div>h1, .form>div>input {
    text-align: center;
    width: 100%;
    margin:auto;
}
.form>div>input {
    background-color: #B8D0EB;
}
.form>div {
    color: black;
    border-radius: 5%;
    max-width: 90%;
    background-color: #B9FAF8;
    padding: 1em;
    margin: 1em;
}
.form-input {
    display:flex;
    justify-content: left;
    margin: .5em;
}
.form-input>label{
    width: 8em;
    text-align: right;
    margin-right: 1em;
}
.form-input>input{
    width: 11em;
}
